{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-trailing-spaces": "error",
        "no-multiple-empty-lines": "error"
    },
    "env": {
        "node": true,
        "es6": true,
        "jest": true
    }
}
